.footer__top{
	margin: 0 auto;
	margin-top: 60px;
	width: 300px;
	text-align: center;
}
.footer__smalltext{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	line-height: 66px;
	font-size: 14px;
	color: #a5a5a5;
	letter-spacing: 7px;
}
.footer__name{
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	display: block;
	margin-top: -25px;
	font-size: 60px;
	color: #4c4c4c;
	text-decoration: none;
}
.footer__name span{
	color: #1abc9c;
}
.form__name{
	width: 285px;
	padding: 20px 0 20px 15px;
	margin-bottom: 15px;
}
.form__email{
	margin-left: 30px;
	width: 285px;
	padding: 20px 0 20px 15px;
	margin-bottom: 15px;
}
.form__subject{
	width: 623px;
	padding: 20px 0 20px 15px;
	margin-bottom: 30px;
}
.form__message{
	width: 623px;
	padding: 20px 0 170px 15px;
	resize: none;
}
.form__submit{
	margin-top: 60px;
	background-color: #1abc9c;
	color: white;
	padding:20px 40px;
	border: none;
	cursor: pointer;
}
.form{
	margin-top: 50px;
	margin-left: 10vw;
	position: relative;
}
.form__enter{
	display: inline-block;
}
.form__text{
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	color: #939598;
	font-size: 16px;
	margin-left: 20px;
	transform: translateY(-590px);
}

.pic{
	background-color: #f7f7f7;
	margin: 50px 10vw 0 10vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.pic__phone{
	padding: 20px 100px;
	border-right: 1px solid black;
	margin: 20px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.pic__phone a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	font-weight: lighter;
	color: #1abc9c;
}
.pic__time{
	padding: 20px 100px;
	border-right: 1px solid black;
	margin: 20px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.pic__timetext{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #4c4c4c;
	text-transform: none;
}
.pic__speak{
	padding: 20px 100px;
	margin: 20px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.pic__speak a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #1abc9c;
}
.footer{
	background-color: #1abc9c;
}
.footer__head{
	font-family: 'Ubuntu', sans-serif;
	font-size: 46px;
	font-weight: lighter;
	color: #fff;
	padding: 45px 0 0 10vw;
}
.footer__head span{
	font-weight: bold;
}
.footer__text{
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #fff;
	padding-left: 10vw;
	padding-bottom: 45px;
	margin-top: -30px;
}