.footer__top{
	margin: 0 auto;
	margin-top: 60px;
	width: 300px;
	text-align: center;
}
.footer__smalltext{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	line-height: 66px;
	font-size: 14px;
	color: #a5a5a5;
	letter-spacing: 7px;
}
.footer__name{
	font-family: 'Ubuntu', sans-serif;
	font-weight: lighter;
	margin-top: -25px;
	font-size: 60px;
	color: #4c4c4c;
}
.footer__name span{
	color: #1abc9c;
}